# This is the CODEOWNERS file. These owners will be the default owners for everything in the di-ipv-cri-f2f-api repository
# The following below will be requested for review when someone opens a pull request.

* @alphagov/di-ipv-kiwi-api-codeowners

# The following allows QA to review changes to /tests directory

tests/ @alphagov/di-ipv-kiwi-qa-codeowners
