version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/src'
    schedule:
      interval: daily
      time: "03:00"
    target-branch: main
    labels:
    - dependabot
    ignore:
      - dependency-name: "node"
        versions: ["17.x","18.x","20.x", "22.x"]
    groups:
      awssdk:
        patterns:
            - "@aws-sdk/*"
      powertools:
        patterns:
          - "@aws-lambda-powertools/*"
    commit-message:
      prefix: BAU
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    target-branch: main
    labels:
    - dependabot
