.DS_Store
**/node_modules/
.aws-sam/
.env
.idea/
cf-output.txt

.gradle
build/
lambdas/

letter.pdf
merged.pdf
api-letter.pdf

**/.vscode/settings.json
**/.vscode/launch.json

lib/
src/tests/visual/__snapshots-diff__/
